@import url("https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&family=Playfair+Display:wght@700&family=Roboto:wght@400;500&display=swap");

:root {
  /* colors */
  --color-txt: #121212;
  --color-main: #0075ff;
  --color-main-hover: #006be6;
  --color-offset-white: #f3f3f3;
  --color-gray: #d1d1d1;
  --color-white: #fff;
  --color-offset-black: #5c5c5c;
  /* text-sizes */
  font-size: 18px;
  --txt-dsply: 7.594rem;
  --txt-h1: 5.063rem;
  --txt-h2: 3.375rem;
  --txt-h3: 2.25rem;
  --txt-h4: 1.5rem;
  --txt-body-bg: 1.3rem;
  --txt-body: 1rem;
  --txt-body-sm: 0.9rem;
  --txt-body-xsm: 0.667rem;
  /* transitions */
  --tr-1: 0.75s;
  --tr-2: 0.5s;
  --tr-3: 0.25s;
  --tr-4: 0.1s;

  /* randoms */
  font-family: "Roboto", sans-serif;

  --box-shadow-btn-main: drop-shadow(
      4.32198e-16px 7.05833px 15.5556px rgba(0, 117, 255, 0.0083)
    )
    drop-shadow(3.95153e-16px 6.45333px 14.2222px rgba(0, 117, 255, 0.0333333))
    drop-shadow(3.3341e-16px 5.445px 12px rgba(0, 117, 255, 0.075))
    drop-shadow(2.4697e-16px 4.03333px 8.88889px rgba(0, 117, 255, 0.133333))
    drop-shadow(1.35834e-16px 2.21833px 4.88889px rgba(0, 117, 255, 0.208333))
    drop-shadow(0px 0px 0px rgba(0, 117, 255, 0.3));

  --box-shadow-card: -12px 12px 24px rgba(215, 215, 215, 0.2),
    12px -12px 24px rgba(215, 215, 215, 0.2),
    -12px -12px 24px rgba(255, 255, 255, 0.9),
    12px 12px 30px rgba(215, 215, 215, 0.9),
    inset 1px 1px 2px rgba(255, 255, 255, 0.3),
    inset -1px -1px 2px rgba(215, 215, 215, 0.5);

  --cst-ease: cubic-bezier(0.18, 0.58, 0.55, 0.99);
}

* {
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

.dashboard-wrapper {
  width: 100%;
  height: 100%;
  background: var(--color-offset-white);
}

.dashboard__content-wrapper {
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar_content {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  transition: transform var(--tr-2) ease-in;
}
.navbar_links {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.link-item {
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  font-size: var(--txt-body-sm);
  border-bottom: 4px solid rgba(95, 158, 160, 0);
  color: var(--color-txt);
  transition: border var(--tr-3) ease-in, color var(--tr-3) ease-in;
}

.link-item:hover {
  border-bottom: 4px solid var(--color-main);
  color: var(--color-main);
}

.dash-icon {
  margin-right: 0.5rem;
}

.menu_toggle {
  display: none;
}

.dashboard__content-cards-wrapper {
  grid-column: 1/-1;
  grid-row: 1/2;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 5rem;
}

.card {
  box-shadow: var(--box-shadow-card);
  width: 300px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  margin: 1rem;
}

.card__icon-profit {
  font-size: 3rem;
  margin: 1rem;
  color: #00e686;
}
.card__icon-best_seller {
  font-size: 3rem;
  margin: 1rem;
  color: var(--color-main);
}
.card__icon-ticket {
  font-size: 3rem;
  margin: 1rem;
  color: #ff9900;
}
.card__icon-user {
  font-size: 3rem;
  margin: 1rem;
  color: #4c00ff;
}
.card__text-content {
  font-size: var(--txt-body-bg);
  font-weight: 500;
}

[data-card-icon] {
  font-size: var(--txt-body-bg);
}

.dashboard__content-users {
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-table-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: var(--box-shadow-card);
  border-radius: 15px;
}
.user-table-title {
  font-size: var(--txt-h4);
  align-self: flex-start;
  margin: 1rem 0;
  margin-left: 2rem;
}
.new__users-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 2rem;
  border: none;
  padding: 1rem;
  border-top: 0.2px solid #d5d5d5;
  border-bottom: 0.2px solid #d5d5d5;
}

.new__users-name-wrapper {
  width: 12rem;
  margin-left: 1rem;
}
.new__users-date-wrapper {
  margin-right: 1rem;
}
.dashboard__content-chart {
  display: flex;
  justify-content: center;
  align-items: center;
}
.chart-container {
  width: 70%;
}

.active {
  border-bottom: 4px solid var(--color-main);
  color: var(--color-main);
}

@media screen and (max-width: 1024px) {
  .dashboard__content-wrapper {
    grid-template-rows: 1fr 1fr 1fr;
  }
  .dashboard__content-chart,
  .dashboard__content-users {
    grid-column: 1/-1;
  }
}

@media screen and (max-width: 768px) {
  .navbar {
    position: fixed;
  }
  .menu_toggle {
    display: block;
    margin: 1rem 1rem 1rem auto;
  }
  .navbar_content {
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: -219%;
    left: 50%;
    transform: translate(100%, 50%);
  }
  .navbar_links {
    flex-direction: column;
  }
  .link-item {
    padding: 0.5rem 1rem;
    margin: 1rem 0;
  }
  .navbar_content-show {
    transform: translate(-50%, 50%);
    backdrop-filter: blur(100px);
    background-color: #f3f3f32f;
  }
}

@media screen and (max-width: 425px) {
  .dashboard__content-wrapper {
    grid-template-rows: 2fr 1fr 1fr;
  }
  .chart-container {
    width: 100%;
  }
}
