@import url("https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&family=Playfair+Display:wght@700&family=Roboto:wght@400;500;700&display=swap");

:root {
  /* colors */
  --color-txt: #121212;
  --color-main: #0075ff;
  --color-main-hover: #006be6;
  --color-offset-white: #f3f3f3;
  --color-gray: #d1d1d1;
  --color-white: #fff;
  --color-offset-black: #5c5c5c;
  /* text-sizes */
  font-size: 18px;
  --txt-dsply: 7.594rem;
  --txt-h1: 5.063rem;
  --txt-h2: 3.375rem;
  --txt-h3: 2.25rem;
  --txt-h4: 1.5rem;
  --txt-body-bg: 1.3rem;
  --txt-body: 1rem;
  --txt-body-sm: 0.8rem;
  /* transitions */
  --tr-1: 0.75s;
  --tr-2: 0.5s;
  --tr-3: 0.25s;
  --tr-4: 0.1s;

  /* randoms */
  font-family: "Roboto", sans-serif;
  --box-shadow-btn-main: drop-shadow(
      4.32198e-16px 7.05833px 15.5556px rgba(0, 117, 255, 0.0083)
    )
    drop-shadow(3.95153e-16px 6.45333px 14.2222px rgba(0, 117, 255, 0.0333333))
    drop-shadow(3.3341e-16px 5.445px 12px rgba(0, 117, 255, 0.075))
    drop-shadow(2.4697e-16px 4.03333px 8.88889px rgba(0, 117, 255, 0.133333))
    drop-shadow(1.35834e-16px 2.21833px 4.88889px rgba(0, 117, 255, 0.208333))
    drop-shadow(0px 0px 0px rgba(0, 117, 255, 0.3));
  --box-shadow-card: -5px 5px 10px rgba(230, 230, 230, 0.2),
    5px -5px 10px rgba(230, 230, 230, 0.2),
    -5px -5px 10px rgba(255, 255, 255, 0.9),
    5px 5px 13px rgba(230, 230, 230, 0.9),
    inset 1px 1px 2px rgba(255, 255, 255, 0.3),
    inset -1px -1px 2px rgba(230, 230, 230, 0.5);
  --cst-ease: cubic-bezier(0.18, 0.58, 0.55, 0.99);
}

* {
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

html,
main,
body {
  width: 100%;
  height: 100%;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.content-btn-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: var(--txt-h4);
  font-weight: 700;
  font-family: "Playfair Display", serif;
}
.logo__second-part {
  font-family: "Oleo Script Swash Caps", cursive;
  font-weight: 400;
}

.btn {
  margin: 0 3rem;
  margin-top: 3rem;
  width: 12rem;
  height: 3rem;
  outline: none;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: all var(--tr-3) ease-in;
  background-color: var(--color-white);
  box-shadow: -5px 5px 10px rgba(215, 215, 215, 0.2),
    5px -5px 10px rgba(215, 215, 215, 0.2),
    -5px -5px 10px rgba(255, 255, 255, 0.9),
    5px 5px 13px rgba(215, 215, 215, 0.9),
    inset 1px 1px 2px rgba(255, 255, 255, 0.3),
    inset -1px -1px 2px rgba(215, 215, 215, 0.5);
  font-size: var(--txt-body);
}
.btn a {
  color: var(--color-main);
  padding: 1rem 4rem;
}
.btn:hover {
  background-color: var(--color-main-hover);
}

.btn:hover > a {
  color: var(--color-offset-white);
  transition: all var(--tr-3) ease-in;
}

.btn-sm {
  width: 8.3rem;
  height: 2.5rem;
  outline: none;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: all var(--tr-3) ease-in;
  font-size: var(--txt-body);
}

@media screen and (max-width: 768px) {
  .btn {
    width: 8.3rem;
    height: 2.5rem;
  }
  .btn a {
    padding: 0rem 2rem;
  }
}

@media screen and (max-width: 425px) {
  .btn {
    margin: 0;
    margin-top: 3rem;
  }
  .btn-left {
    margin-right: 1rem;
  }
  .btn-right {
    margin-left: 1rem;
  }
}

@media screen and (max-width: 320px) {
  .btn {
    width: 7.3rem;
    height: 2.5rem;
  }
  .btn a {
    padding: 0rem 1rem;
  }
}
